@font-face {
  font-family: CircularStd-Black;
  src: url(fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: CircularStd-Bold;
  src: url(fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularStd-Book;
  src: url(fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: CircularStd-Medium;
  src: url(fonts/CircularStd-Medium.otf);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  padding: 0;
  margin: 0;
}

body {
  background-color: #f8fafc;

  /* backup fonts */
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
label,
input {
  display: block;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px #f4f6f8 inset;
  -webkit-box-shadow: 0 0 0 50px #f4f6f8 inset;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px #f4f6f8 inset;
  -webkit-box-shadow: 0 0 0 50px #f4f6f8 inset;
}

::-webkit-input-placeholder {
  color: #a3a3a3;
}
::-moz-placeholder {
  color: #a3a3a3;
}
:-ms-input-placeholder {
  color: #a3a3a3;
}
:-moz-placeholder {
  color: #a3a3a3;
}
