@font-face {
  font-family: CircularStd-Black;
  src: url(../public/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: CircularStd-Bold;
  src: url(../public/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularStd-Book;
  src: url(../public/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: CircularStd-Medium;
  src: url(../public/fonts/CircularStd-Medium.otf);
}
